<section id="gasto" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_gasto">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class="img-fluid" alt="{{gasto.fecha}}">
              </p>
              <h4 class="card-title">{{gasto.fecha}}</h4>
              <p class="card-text">
                {{gasto.descripcion}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>